h1 {
    color: black;
    padding-left: 200px;
    
    
}

img {
    width: 250px;
}

.subjectContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;

}

.subjectBox {
    border: 7px ridge crimson;
    color: black;
    font-size: 20px;
}


#middlebox {
    border: 7px ridge crimson;
    color: black;
}


.button {
    overflow: hidden;
}

.button a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 40px;
}

body {
    background: url("MonkeyMeadow_No_UI.webp");
background-repeat: no-repeat;
background-size: cover;
background-position:center;
background-color: rgb(51, 155, 77);
background-blend-mode:lighten;
}   